.pagination {
  margin-top: 2.5em;
  margin-bottom: 1em;
  width: 100%;
}

.pagination__list {
  display: flex;
  justify-content: center;
  padding: 1em;
  gap: 30px;
}

.pagination__item {
  width: 40px;
  aspect-ratio: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
}

.page__active {
  background-color: red;
  color: white;
}
